.head{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.logo{
  width: 50px;
  height: 50px;
  margin-right: 5px;
}

.head-text{
  font-weight: 400;
}

/* ---FORM--- */

.add-form{
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 30px;
  height: 38px;
}

.add-input{
padding: 9px, 13px;
flex-grow: 1;
min-width: 150px;
max-width: 400px;
border-radius: 6px;
border: 1px solid #D1D5DB;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.add-button{
  border: none;
  background-color: black;
  color: white;
  font-family: Inter, sans-serif;
  border-radius: 6px ;
}

.portfolio{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio-button{
  border: none;
  background-color: black;
  padding: 5px;
  font-family: Inter, sans-serif;
  border-radius: 6px ;
  height: 30px;
  cursor: pointer;
}

a{
  color: white;
  text-decoration: none;
  
}

.add-button::before{
content: "+";
margin-right: 5px;
}

/* form--section */
.ingredient-section{
  margin-left: 28px;
}
.ingredient-head{
  margin-left: 26px;
  font-weight: 400;
}
.ingredient-list{
  margin-left: 15px;
  color: #475467;
  margin-bottom: 40px;
}
.recipe{
  display: flex;
  background: #F0EFEB;
  justify-content: center;
  width: 500px;
  border-radius: 10px;
  align-items: center;
  gap: 15px;
}

.recipe button{
  height: 30px;
  display: flex;
  align-items: center;
  background: #D17557;
  border-radius: 4px;
  border: none;
  color: #FAFAF8;
  cursor: pointer;
  font-size: 0.875rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}

.recipe > div > h2{
  font-weight: 500;
}

.recipe div div{
  display: flex;
  justify-content: center;
  gap: 15px;
}

@media(max-width:600px){
.recipe {
  flex-direction: column;
  justify-content: flex-start;
  align-items:  flex-start;
  padding: 15px;
  gap: 5px;
  max-width: 300px;

}

.recipe div div{
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}

.recipe button{
  height: 30px;
  width: 90px;
  display: flex;
  align-items: center;
  background: #D17557;
  border-radius: 4px;
  border: none;
  color: #FAFAF8;
  cursor: pointer;
  font-size: 0.875rem;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
}
}

.recipe > p{
  color: #475467;
}

.instruct p{
  color: #f04005;
  margin-left: 28px;
}

/* suggest--section */

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}